Source: php-graphql
Section: web
Priority: optional
Maintainer: Emre Sokullu <emre@phonetworks.org>
Build-Depends: debhelper (>= 9),
               dh-make-php,
               php5-dev,
               pkg-php-tools (>= 1.5~),
               po-debconf,
               libgraphqlparser
Standards-Version: 3.9.8
Homepage: https://github.com/dosten/graphql-parser-php
#Vcs-Git: git://anonscm.debian.org/pkg-php/php-graphql.git
#Vcs-Browser: http://anonscm.debian.org/gitweb?p=pkg-php/php-graphql.git;a=summary

Package: php-graphql
Architecture: any
Depends: ${misc:Depends},
         ${php:Depends},
         ${phppear:Debian-Depends},
         ${shlibs:Depends}
Recommends: ${phppear:Debian-Recommends}
Breaks: ${phppear:Debian-Breaks}
Description: PHP bindings for libgraphqlparser
 A PHP extension wrapping the libgraphqlparser library for parsing GraphQL.
